.registration {

    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 50%);
    padding-bottom: 0px;
    padding-top: 46px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 554px;
    margin-bottom: 53px;
}

.primary1{
    background: #3e32cd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.secondry1{
    background: #d7d6e3;
    padding-bottom: 5px;
    margin-bottom: 20px;
    margin-top: -61px;
}