.home {
    /* text-align: center; */
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 50%);
    padding-bottom: 28px;
    padding-top: 46px;
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 554px;
    margin-bottom: 53px;
}

.noteList {

    margin-bottom: 45px;
    margin-left: 45px;
    margin-right: 45px;
    background: rgb(165, 154, 154);
    /* text-align: center; */
    width: 54ch;
    height: 19ch;

}

.logout {
    margin-left:1600px ;
    background: #d0cfda;
    padding: 0px;

}